<div class="app">
  <div class="screen join-screen active">
    <div class="form">
      <h2>Centro de Mensajes</h2>
      <div class="form-input">
        <label for="email">Usuario</label>
        <input type="email" id="email" name="email" placeholder="enter your e-mail address" required/>
      </div>
      <div class="form-input"> 
        <button id="join-user">Ingresar</button>
      </div>
    </div>
  </div>
  <div class="screen chat-screen ">
    <div class="header">
      <div class="logo">Centro de Mensajes</div>
      <button id="exit-chat">Salir</button>
    </div>
    <div class="messages">
    </div>
    <div class="typebox">
      <input type="text" id="message-input">
      <button id="send-message">Enviar</button>
    </div>
  </div>
</div>
